.movie-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(220px, 1fr));
  align-items: stretch;
  gap: 16px;
}

@media (max-width: 1200px) {
  .movie-grid {
    grid-template-columns: repeat(3, minmax(220px, 1fr));
  }
}
@media (max-width: 900px) {
  .movie-grid {
    grid-template-columns: repeat(2, minmax(220px, 1fr));
  }
}
@media (max-width: 520px) {
  .movie-grid {
    grid-template-columns: 1fr;
  }
}
